body {
    font-family: sans-serif;
    padding: 40px;
    background-image: url("greensky.png");
}


.project-card {
    display: inline-block;
    border-radius: 10px;
    padding: 16px;
    margin: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

iframe {
    width: 350px;
    height: 270px;
    border: 1px solid #ddd;
    border-radius: 8px;
    pointer-events: none;
}

a {
    display: block;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}